In [1]:
import pandas as pd
df = pd.read_csv('vine_tables')

In [2]:
df.count()

review_id            9002021
star_rating          9001881
helpful_votes        9001881
total_votes          9001881
vine                 9001881
verified_purchase    9001881
dtype: int64

In [3]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y

In [4]:
df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [15]:
df['percent'] = df['helpful_votes']/df['total_votes']
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y,0.333333
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N,NaN
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y,NaN
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y,NaN
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y,NaN

In [25]:
df20 = df.loc[df['total_votes'] > 20] 
print(df20.count())

review_id            68164
star_rating          68164
helpful_votes        68164
total_votes          68164
vine                 68164
verified_purchase    68164
percent              68164
dtype: int64

In [21]:
paidvine = df20.loc[(df20["vine"]=="Y") & (df20["percent"] >= .5)]
paidvine.count()

review_id            585
star_rating          585
helpful_votes        585
total_votes          585
vine                 585
verified_purchase    585
percent              585
dtype: int64

In [22]:
unpaidvine = df20.loc[(df20["vine"]=="N") & (df20["percent"] >= .5)]
unpaidvine.count()

review_id            61139
star_rating          61139
helpful_votes        61139
total_votes          61139
vine                 61139
verified_purchase    61139
percent              61139
dtype: int64

In [23]:
fivestarreviewspaid = df20.loc[(df20["vine"]=="Y") & (df20["percent"] >= .5) & (df20["star_rating"] == 5)]
fivestarreviewspaid.count()

review_id            213
star_rating          213
helpful_votes        213
total_votes          213
vine                 213
verified_purchase    213
percent              213
dtype: int64

In [24]:
fivestarreviewsunpaid = df20.loc[(df20["vine"]=="N") & (df20["percent"] >= .5) & (df20["star_rating"] == 5)]
fivestarreviewsunpaid.count()

review_id            28839
star_rating          28839
helpful_votes        28839
total_votes          28839
vine                 28839
verified_purchase    28839
percent              28839
dtype: int64

In [13]:
percentfivestarreviewunpaid = fivestarreviewsunpaid['review_id'].count()/df20['review_id'].count() * 100
percentfivestarreviewunpaid = "{:.2f}%".format(percentfivestarreviewunpaid)
percentfivestarreviewunpaid

'42.31%'

In [14]:
percentfivestarreviewpaid = fivestarreviewspaid['review_id'].count()/df20['review_id'].count() * 100
percentfivestarreviewpaid = "{:.2f}%".format(percentfivestarreviewpaid)
percentfivestarreviewpaid

'0.31%'